<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница читателя</title>
</head>
<body>

<div>
    <table>
        <tr>
            <th>id</th>
            <td><a th:text="${person.getId()}">ID</a></td>
        </tr>
        <tr>
            <th>ФИО</th>
            <td><a th:text="${person.getFio()}">ФИО</a></td>
        </tr>
        <tr>
            <th>Год рождения</th>
            <td><a th:text="${person.getYearOfBirth()}">ГОД РОЖДЕНИЯ</a></td>
        </tr>
    </table>
</div>

<hr>
<p>
    <a th:if="${readersBooks.isEmpty()}" th:text="'У этого читателя нет книг'"></a>
    <a th:unless="${readersBooks.isEmpty()}" th:text="'У этого читателя: '"></a>
</p>

<div th:each="book : ${readersBooks}" th:if="!${readersBooks.isEmpty()}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}">someBook</a>
</div>
<hr>

<br>
<button>
    <a th:href="@{'/people/' + ${person.getId()} + '/edit'}" class="button">Edit Person</a>
</button>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete Person">
</form>

<br>
<hr>
<input type="button" value="Все читатели" onclick="location.href='/people';"/>

<br>
<br>
</body>
</html>