<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница книг</title>
</head>

<!--TODO
Добавить картинку книги
https://www.youtube.com/watch?v=UhSEsoIUROA&ab_channel=BrandanJones
//RESIZE
https://www.youtube.com/watch?v=E6Ti5DNBajw&list=RDCMUCYZCPdpz0ClWyGJWd1dZsug&index=6&ab_channel=BrandanJones
//WATERMARK
https://www.youtube.com/watch?v=-U4xJHD5FyE&ab_channel=BrandanJones
-->

<body>
<div th:replace="~{fragments :: header}">HEADER</div>


<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', ' + ${book.getYearOfPublishing()}">someBook</a>
</div>

<br>
<hr>
<input type="button" value="Добавить книгу" onclick="location.href='/books/new';"/>
<input type="button" value="Поиск книг" onclick="location.href='/books/search';"/>


<div th:replace="~{fragments :: footer}">FOOTER</div>
</body>

</html>