<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Страница Книги')}">HEAD</head>

<!--TODO
Добавить картинку книги
-->

<body>
<div th:replace="~{fragments :: navbar}">NAVBAR</div>
<div th:replace="~{fragments :: header('Страница Книги')}">HEADER</div>



<button>
    <a th:href="@{'/books/' + ${book.getId()} + '/edit'}" class="button">Редактировать эту книгу</a>
</button>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Удалить эту книгу">
</form>

<div>
    <table>
        <tr>
            <th>id</th>
            <td><a th:text="${book.getId()}">ID</a></td>
        </tr>
        <tr>
            <th>Название книги</th>
            <td><a th:text="${book.getTitle()}">НАЗВАНИЕ КНИГИ</a></td>
        </tr>
        <tr>
            <th>Автор</th>
            <td><a th:text="${book.getAuthor().getFullName()}">АВТОР КНИГИ</a></td>
        </tr>
        <tr>
            <th>Год издания</th>
            <td><a th:text="${book.getYearOfPublishing()}">ГОД ПУБЛИКАЦИИ</a></td>
        </tr>
    </table>
</div>



<div th:replace="~{fragments :: footer}">FOOTER</div>
</body>
</html>