<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница редактирования читателя</title>
</head>
<body>

<!--TODO
Доступ только Менеджерам и Админам
Добавить картинку Юзера
Добавить поле изменения РОЛИ
-->


<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <div>
        <table>
            <tr>
                <th>ФИО</th>
                <td><input type="text" th:field="*{fio}"></td>
                <td style="color:red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}">FIO ERROR</td>
            </tr>
            <tr>
                <th>Год рождения</th>
                <td><input type="text" th:field="*{yearOfBirth}"></td>
                <td style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Age ERROR</td>
            </tr>
        </table>
        <input type="submit" value="Обновить данные читателя">
    </div>
</form>
<br>
<hr>
<input type="button" value="Все читатели" onclick="location.href='/people';"/>

</body>
</html>