<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница читателей</title>
</head>

<!--TODO
Доступ только Менеджерам и Админам

Добавить картинку Юзера
https://www.youtube.com/watch?v=UhSEsoIUROA&ab_channel=BrandanJones
//RESIZE
https://www.youtube.com/watch?v=E6Ti5DNBajw&list=RDCMUCYZCPdpz0ClWyGJWd1dZsug&index=6&ab_channel=BrandanJones
//WATERMARK
https://www.youtube.com/watch?v=-U4xJHD5FyE&ab_channel=BrandanJones

Сортировка Юзеров сначала по ролям потом по алфавиту
Подсветка Админов зеленым цветом
-->

<body>
<div th:replace="~{fragments :: header}">HEADER</div>

<div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="'id#' + ${person.getId()} + '/ ' + ${person.getFio()} + ', ' + ${person.getYearOfBirth()}">someUser</a>
    <a th:text="'Взято книг - ' + ${person.getBooks().size()}"></a>
</div>

<br>
<hr>
<input type="button" value="Добавить читателя" onclick="location.href='/people/new';"/>

<div th:replace="~{fragments :: footer}">FOOTER</div>
</body>
</html>