<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: head('Страница Читателя')}">HEAD</head>

<!--TODO
Доступ только Менеджерам и Админам
Добавить картинку Юзера
кнопка удаления на основании РОЛЕЙ
удалить Менеджера или Админа может только Админ
-->


<body>
<div th:replace="~{fragments :: navbar}">NAVBAR</div>
<div th:replace="~{fragments :: header('Страница Читателя')}">HEADER</div>


<button>
    <a th:href="@{'/people/' + ${person.getId()} + '/edit'}" class="button">Edit Person</a>
</button>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete Person">
</form>

<div>
    <table>
        <tr>
            <th>id</th>
            <td><a th:text="${person.getId()}">ID</a></td>
        </tr>
        <tr>
            <th>ФИО</th>
            <td><a th:text="${person.getFio()}">ФИО</a></td>
        </tr>
        <tr>
            <th>Год рождения</th>
            <td><a th:text="${person.getYearOfBirth()}">ГОД РОЖДЕНИЯ</a></td>
        </tr>
    </table>
</div>

<hr>

<p>
    <a th:if="${readersBooks.isEmpty()}" th:text="'У этого пользователя нет книг'"></a>
    <a th:if="!${readersBooks.isEmpty()}" th:text="'У этого пользователя: '"></a>
</p>

<div th:if="!${readersBooks.isEmpty()}"
     th:each="book : ${readersBooks}">
    <a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getTitle()}"
       th:style ="${book.isOverdue()} ? 'color: red'">someBook</a>
</div>




<div th:replace="~{fragments :: footer}">FOOTER</div>
</body>
</html>