html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.table_block {
    border-collapse: separate;
    border-spacing: 10px;
    width: 96%;
    margin: auto;
}

.table_block td {
    padding: 10px;
    border-radius: 10px;
    border: solid 1px #000;
    width: 32%;
}

.img_cover {
    padding-right: 10px;
    float: left;
    width: 150px;
    height: 200px;
}


.nav_table {
    border-spacing: 10px;
    width: 96%;
    margin: auto;
}
.nav_table td {
    padding: 1px;
    text-align:center;
    /*border: solid 1px #000;*/
}

.nav_butt {
    width: 100%;
    height: 100%;
}


.footer {
    /*!*position: fixed; !* Фиксированное положение *!*!*/
    /*position: page;*/
    /*!*min-height: 100%;*!*/
    /*bottom: 0; !* Левый нижний угол *!*/
    /*width: 100%; !* Ширина слоя *!*/
    /*text-align:center;*/
    /*padding: 10px; !* Поля вокруг текста *!*/
    /*color: #fff; !* Цвет текста *!*/
    /*!*background: #39b54a; !* Цвет фона *!*!*/
    flex: 0 0 auto;
}

