<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>

<body>
<h2>Главная страница библиотеки</h2>

<form th:method="GET" th:action="@{/}">
    <label for="search-input">Введите поисковой запрос</label>
    <input type="text" name="search_query" id="search-input" th:value="${query}"/>
    <br>
    <input type="submit" value="Искать"/>
</form>

<div th:if="${books}">
    <div th:if="${books.isEmpty()}">
        <span>Книг не найдено</span>
    </div>

    <div th:each="book : ${books}">

        <p th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getTitle()} + ', ' + ${book.getAuthor()}">foundedBook</p>

        <div th:if="${book.getOwner()} == null">
            <a>Книга сейчас свободна</a>
        </div>

        <div th:if="${book.getOwner()} != null">
            <a style="color : red">Эта книга сейчас занята</a>
        </div>

    </div>
</div>

<hr>
<br>
<p>информация о библиотеке</p>


<hr>
<input type="button" value="Все книги" onclick="location.href='/books';"/>
<input type="button" value="Все читатели" onclick="location.href='/people';"/>
</body>
</html>